body{
    background: rgb(219, 216, 216);
    color: black;
    margin-top: 60px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    color: #0073e6;
    padding-left: 45px;

  }
  
  thead tr {
    background-color:black;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  /* tbody tr:nth-child(even) {
    background-color: #0b15ac;
  } */
  
  tbody tr:hover {
    background-color: #b6d8ff;
    /* background: linear-gradient(to right, #4A90E2, #002B5C);; */
  }
  
  th {
    background-color: #98c2ec;
    color: rgb(20, 8, 8);
    font-weight: bold;
    padding-left: 45px;
  }
  
  #margin{
    margin-top: 50px !important;
    margin-bottom: 50px !important; /* Forces a 20px margin above the container */
  }
  #margin2{
    margin-top: 150px !important;
  }

  #colour{
    color: rgb(102, 102, 102);
    
  }
  #colour1{
    line-height: 1.375;
    max-width: 100%;
    font-weight: 800;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.25rem; /* 1 in Tailwind units = 0.25rem */
    margin-bottom: 0.25rem;
    margin-left: 2.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 3rem;
  }